.mainBox{
    height: 700px;
    text-align: center;
    padding-top: 300px;
}

.pushDown{
    font-size: 30px;
}

.gray{
    background-color: #cccccc;
}

.grayText{
    color: #bababa;
}

.short{
    max-width: 200px;
}

.tall{
    height: 100px;
}

.height{
    height: 250px;
    text-align: center;
    vertical-align: middle;
}

.form-control{
    margin: 0px 0px 10px 0px;
}

.right{
    float:right;
}

.eighty{
    width: 80%;
}

.bump{
    padding-top: 110px;
}

.auto{
    margin: auto;
    text-align: center;
}

.sixers{
    font-size: 24px;
}

#back{
    margin-bottom: 20px;
}

.desc{ display: none; }

.card{
    height: 110px;
}

.noMargin{
    margin: 0px 0px;
}

.help{
    height:400px;
}