body{
    background-image: url(../images/debut_light.png);
}

.well{
    background-color: #FAFAFA;
}

.mainBox{
    height: 700px;
    text-align: center;
    padding-top: 300px;
}

.pushDown{
    font-size: 30px;
}

.gray{
    background-color: #cccccc;
}

.grayText{
    color: #bababa;
}

.short{
    max-width: 200px;
}

.tall{
    height: 100px;
}

.height{
    height: 250px;
    text-align: center;
    vertical-align: middle;
}

.form-control{
    margin: 0px 0px 10px 0px;
}

.right{
    float:right;
}

.eighty{
    width: 80%;
}

.bump{
    padding-top: 110px;
}

.auto{
    margin: auto;
    text-align: center;
}

.sixers{
    font-size: 24px;
}

#back{
    margin-bottom: 20px;
}

.desc{ display: none; }

.card{
    height: 110px;
}

.noMargin{
    margin: 0px 0px;
}

.help{
    height:400px;
}

.pick{
    padding-top:170px;
}

.well{
    cursor: pointer;
}

.red{ color: #b2000b;}
.orange{ color:#FF6700;}
.blue{ color:#000AB3;}
.green{ color:#2ccc14;}
.purple{ color:#621575;}
.yellow{ color:#d1b900;}